# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
__pycache__/

.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/launch.json
.vscode

# Personal Files
credentials.json
conda.json

# IPython
profile_default/
ipython_config.py
test_pipeline.py

# pyenv
.python-version